<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1340">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <h2 class="cs-title">Waffle House Bar and Grill</h2>
            <p>Welcome to Waffle House Bar & Grill – Where Every Bite is a Family Delight! </p><br><br>
            <div class="cs-social">
                <a class="cs-social-link" aria-label="visit facebook profile" href="">
                    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-1a.svg" alt="facebook" width="11" height="11">
                </a>
                <p>Follow us on Facebook!</p>
            </div>
            <div>
                <h3>Operating Hours</h3>
                <p>
Restaurant: 8AM-8PM <br>
Bar: 10AM-2AM <br>


                </p>
            </div>
        </div>
        <!-- Links -->
        <div class="cs-ul-wrapper">
            <span class="cs-header">Sitemap</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="/">Home</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/menu">Menu</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/about">About</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/gallery">Gallery</a>
                </li>
                <li class="cs-li"></li>
                    <a class="cs-link" href="/contact">Contact Us</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">Reservations</a>
                </li>
                
            </ul>
        </div>
        <div class="cs-ul-wrapper">
            <!-- Contact Info -->
            <span class="cs-header">Contact</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="tel:555-497-1900">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/phone-1a.svg" alt="phone icon" width="24" height="24">
                        780-200-0735
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="mailto:office@email.com">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/email-1a.svg" alt="email icon" width="24" height="24">
                        WaffleHouseSherwood@gmail.com
                    </a>
                </li>
                <li class="cs-li">
                    <!--Make this link go to the google page-->
                    <a class="cs-link" href="https://maps.app.goo.gl/PishYK41yM8Lapoq7" target="_blank">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pin-1a.svg" alt="pin icon" width="24" height="24">
                        26 Strathmoor Drive, Sherwood Park, AB, Canada, Alberta
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="credit"></div>
    <div class="cs-bottom">
        <span class="cs-credit">
         
            <span>Designed and Hand Coded by</span> <a target="_blank" href="https://bespokewebdesign.ca/" target="_blank" rel="noopener"> Bespoke Web Design</a> <span class="copyright">  <br>© Copyright 2024 - Present</span>
        </span>
        <div class="cs-bottom-links">
            <a href="/privacy-policy" class="cs-bottom-link">Privacy Policy</a>
            <a href="/terms-of-service" class="cs-bottom-link">Terms Of Use</a>
        </div>
    </div>
</footer>
                                