---
title: 'About|Waffle House Sherwood'
description: 'The Best Waffle and Steak Combo in Town'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XEEN4SD66T"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XEEN4SD66T');
</script>

{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

   

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
    <!-- ============================================ -->
<!--                   About Us                   -->
<!-- ============================================ -->





<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1014">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/dining.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/dining.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/dining.jpg" alt="breakfast" width="522" height="581" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="/assets/images/menu1.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/menu1.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/menu1.jpg" alt="breakfast" width="414" height="400" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            
            <img height="16" alt="squiggle"
            decoding="async" src="/assets/svgs/squiggle.svg" width="144" class="cs-squiggle"
            aria-hidden="true">
            <h2 class="cs-title">Waffle House Bar & Grill</h2>
            <p class="cs-text">
                Welcome to Waffle House Bar & Grill, located inside Super 8 by Wyndham Sherwood Park. Since opening in November 2023, we have been dedicated to providing a dining experience that combines unique flavors with a welcoming atmosphere. Our menu features a delightful fusion of Western and Asian cuisine, going beyond just waffles and desserts. We serve breakfast, lunch, and dinner until 2 AM, ensuring you can enjoy our mouthwatering dishes at any time of day.
                <p class="cs-text">
                    Our space includes a pool table, a lively bar, and VLT machines for your entertainment. 
                    <div class="cs-quote">
                <span class="cs-quote-text">
                    At Waffle House Bar & Grill in Sherwood Park, we believe a great day starts with delicious food. Since 2023, we've been serving up memorable meals and bringing people together.                </span>
                <span class="cs-name">2023</span>
                <span class="cs-job">Date Established</span>
                <img class="cs-quote-icon" loading="lazy" decoding="async" src='/assets/images/Wafflehouse.png' alt="gavel" width="136" height="77">
            </div>
        </div>
    </div>
</section>
          
<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<!-- <section id="why-choose-12">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Know</span>
            <h2 class="cs-title">Want to learn more About Us?</h2>
            <p class="cs-text">
               

                Welcome to Waffle House Bar & Grill, where diner comfort meets bar and grill favorites. We offer a diverse menu featuring classic breakfast items like waffles and eggs, as well as burgers, steaks, and ribs. Enjoy our cozy, family-friendly atmosphere or relax in our bar area with a variety of craft beers and cocktails. Join us for great food and a welcoming experience any time of the day!            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=H0JqzxqGxPQm&format=png&color=FFFFFF" alt="" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">8:00 AM- 2:00 AM</h3>
                <p class="cs-item-text">
                    Monday - Sunday                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=3723&format=png&color=FFFFFF" alt="toolbox icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">26 Strathmoor Dr</h3>
                <p class="cs-item-text">
                    Sherwood Park, Canada                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=9659&format=png&color=FFFFFF" alt="ribbon icon" width="32" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">+1 780-570-8547</h3>
                <p class="cs-item-text">
                    Phone Number                </p>
            </li>
        </ul>
        <a href="/contact" class="cs-button-solid">Contact</a>
    </div>
</section> -->
                                
 <!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1648">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Social</span>
                <img height="16" alt="squiggle"
                        decoding="async" src="/assets/svgs/squiggle.svg" width="144" class="cs-squiggle"
                        aria-hidden="true">
                <h2 class="cs-title">Waffle House</h2>
            </div>
            <a href="https://www.facebook.com/profile.php?id=61553190053636" class="cs-button-solid">
                <img class="cs-button-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=118468&format=png&color=FFFFFF" alt="fb" width="20" height="20">
                @Waffle House Bar & Grill 
            </a>
        </div>
        <div class="cs-gallery">
            <!--Picture 1-->
            <a href="" class="cs-link">
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/dining3.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/dining3.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/dining3.jpg" alt="gallery" width="305" height="400">
                </picture>
                <img class="cs-link-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=118468&format=png&color=FFFFFF" alt="instagram" width="48" height="48">
            </a>
            <!--Picture 2-->
            <a href="" class="cs-link">
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/billiard.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/billiard.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/billiard.jpg" alt="gallery" width="305" height="400">
                </picture>
                <img class="cs-link-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=118468&format=png&color=FFFFFF" alt="instagram" width="48" height="48">
            </a>
            <!--Picture 3-->
            <a href="" class="cs-link">
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/ktv.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/ktv.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/ktv.jpg" alt="gallery" width="305" height="400">
                </picture>
                <img class="cs-link-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=118468&format=png&color=FFFFFF" alt="instagram" width="48" height="48">
            </a>
            <!--Picture 4-->
            <a href="" class="cs-link">
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/bar1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/bar1.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/bar1.jpg" alt="gallery" width="305" height="400">
                </picture>
                <img class="cs-link-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=118468&format=png&color=FFFFFF" alt="instagram" width="48" height="48">
            </a>
        </div>
    </div>
</section>
                                                               
                                

   

{% endblock %}