---
title: 'Gallery|Waffle House Sherwood'
description: 'The Best Waffle and Steak Combo in Town'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'gallery/'
eleventyNavigation:
    key: Gallery
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/gallery.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XEEN4SD66T"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XEEN4SD66T');
</script>
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

   

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1508">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Gallery</span>
            <img height="16" alt="squiggle"
            decoding="async" src="/assets/svgs/squiggle.svg" width="144" class="cs-squiggle"
            aria-hidden="true">
            <h2 class="cs-title">Explore Our Amazing Gallery</h2>
            <p class="cs-text">
                Explore our gallery to get a glimpse of the vibrant atmosphere and delectable dishes that make Waffle House Bar and Grill a beloved spot. From our famous waffles to sizzling grill favorites, every photo captures the essence of our warm and welcoming dining experience.            </p>
            <a href="/ambiance" class="cs-button-solid">View Ambiance</a>
        </div>
        <!--Picture 1-->
        <div class="cs-picture-group">
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset='/assets/images/gallery1.jpg'>
                <source media="(min-width: 601px)"
                        srcset='/assets/images/gallery1.jpg'>
                <img loading="lazy" decoding="async"
                        src='/assets/images/gallery1.jpg'
                        height="400" height="400" alt="day care">
            </picture>
            <div class="cs-info">
                <h3 class="cs-h3">Cheesecake</h3>
                <p class="cs-item-text">Crust, filling, toppings</p>
            </div>
        </div>
        <!--Picture 2-->
        <div class="cs-picture-group">
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset='/assets/images/menu3.jpg'>
                <source media="(min-width: 601px)"
                        srcset='/assets/images/menu3.jpg'>
                <img loading="lazy" decoding="async"
                        src='/assets/images/menu3.jpg'
                        height="400" height="400" alt="day care">
            </picture>
            <div class="cs-info">
                <h3 class="cs-h3">Salad</h3>
                <p class="cs-item-text">Tomato, bacon, lettuce</p>
            </div>
        </div>
        <!--Picture 3-->
        <div class="cs-picture-group">
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset='/assets/images/gallery3.jpg'>
                <source media="(min-width: 601px)"
                        srcset='/assets/images/gallery3.jpg'>
                <img loading="lazy" decoding="async"
                        src='/assets/images/gallery3.jpg'
                        height="400" height="400" alt="day care">
            </picture>
            <div class="cs-info">
                <h3 class="cs-h3">Scramble</h3>
                <p class="cs-item-text">Egg, bread, fruits</p>
            </div>
        </div>
        <!--Picture 4-->
        <div class="cs-picture-group">
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset='/assets/images/menu4.jpg'>
                <source media="(min-width: 601px)"
                        srcset='/assets/images/menu4.jpg'>
                <img loading="lazy" decoding="async"
                        src='/assets/images/menu4.jpg'
                        height="400" height="400" alt="day care">
            </picture>
            <div class="cs-info">
                <h3 class="cs-h3">Custard</h3>
                <p class="cs-item-text">Egg, chicken, fruits</p>
            </div>
        </div>
        <!--Picture 5-->
        <div class="cs-picture-group">
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset='/assets/images/menu5.jpg'>
                <source media="(min-width: 601px)"
                        srcset='/assets/images/menu5.jpg'>
                <img loading="lazy" decoding="async"
                        src='/assets/images/menu5.jpg'
                        height="400" height="400" alt="day care">
            </picture>
            <div class="cs-info">
                <h3 class="cs-h3">Fruity Pancake</h3>
                <p class="cs-item-text">Waffle, berries, icing</p>
            </div>
        </div>
        <!--Picture 6-->
        <div class="cs-picture-group">
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset='/assets/images/galleyadobo.jpg'>
                <source media="(min-width: 601px)"
                        srcset='/assets/images/galleyadobo.jpg'>
                <img loading="lazy" decoding="async"
                        src='/assets/images/galleyadobo.jpg'
                        height="400" height="400" alt="day care">
            </picture>
            <div class="cs-info">
                <h3 class="cs-h3">Rice meal</h3>
                <p class="cs-item-text">Pork/Beef, rice, veggies</p>
            </div>
        </div>
        <!--Picture 7-->
        <div class="cs-picture-group">
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset='/assets/images/contact.jpg'>
                <source media="(min-width: 601px)"
                        srcset='/assets/images/contact.jpg'>
                <img loading="lazy" decoding="async"
                        src='/assets/images/contact.jpg'
                        height="400" height="400" alt="day care">
            </picture>
            <div class="cs-info">
                <h3 class="cs-h3">Steak</h3>
                <p class="cs-item-text">Steak, mashed potato, veggies</p>
            </div>
            
        </div>
          <!--Picture -->
          <div class="cs-picture-group">
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset='/assets/images/galleyadobo.jpg'>
                <source media="(min-width: 601px)"
                        srcset='/assets/images/galleyadobo.jpg'>
                <img loading="lazy" decoding="async"
                        src='/assets/images/galleyadobo.jpg'
                        height="400" height="400" alt="day care">
            </picture>
            <div class="cs-info">
                <h3 class="cs-h3">Rice meal</h3>
                <p class="cs-item-text">Pork/Beef, rice, veggies</p>
            </div>
            <!--Picture -->
          <div class="cs-picture-group">
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset='/assets/images/galleyadobo.jpg'>
                <source media="(min-width: 601px)"
                        srcset='/assets/images/galleyadobo.jpg'>
                <img loading="lazy" decoding="async"
                        src='/assets/images/galleyadobo.jpg'
                        height="400" height="400" alt="day care">
            </picture>
            <div class="cs-info">
                <h3 class="cs-h3">Rice meal</h3>
                <p class="cs-item-text">Pork/Beef, rice, veggies</p>
            </div>
        </div>
          <!--Picture -->
          <div class="cs-picture-group">
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset='/assets/images/galleyadobo.jpg'>
                <source media="(min-width: 601px)"
                        srcset='/assets/images/galleyadobo.jpg'>
                <img loading="lazy" decoding="async"
                        src='/assets/images/galleyadobo.jpg'
                        height="400" height="400" alt="day care">
            </picture>
            <div class="cs-info">
                <h3 class="cs-h3">Rice meal</h3>
                <p class="cs-item-text">Pork/Beef, rice, veggies</p>
            </div>
        </div>
        <!-- <img class="cs-graphic cs-graphic-one"
                src='/assets/images/blob-scatter-haikei.png'
                alt="graphic" loading="lazy" decoding="async" height="134" width="197">
        <img class="cs-graphic cs-graphic-two"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-team-graphic-three.svg"
                alt="graphic" loading="lazy" decoding="async" height="191" width="138"> -->
    </div>
</section>

     
<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1446">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                
            </div>
        </div>
        <!--Gallery-->
        <div class="cs-gallery">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery1.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery1.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gallery1.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/galleyadobo.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/galleyadobo.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/galleyadobo.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/menu3.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/menu3.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/menu3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery3.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery3.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gallery3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/menu5.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/menu5.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/menu5.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/menu4.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/menu4.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/menu4.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 7-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/contact.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/contact.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/contact.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 8-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/menu3.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/menu3.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/menu3.jpg" alt="gallery" width="305" height="400">
            </picture>
        </div>
    </div>
</section>
                                
                                
                
                
                                

   

{% endblock %}