---
title: 'Terms of Service|Waffle House Sherwood.'
description: 'The Best Waffle and Steak Combo in Town'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'terms-of-service/'
eleventyNavigation:
   
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/terms-of-service.css">
{% endblock %}

{% block body %}

<!--                   Banner                     -->
<!-- ============================================ -->

                     

    <!-- ============================================ -->
<!--                  Content                     -->
<!-- ============================================ -->

<section id="content-1450">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">Terms of Service</h2>
            <p class="cs-text">
                
               <i>Effective September 2024 </i> <br><br>
               Welcome to Waffle House Bar &amp; Grill (&quot;we,&quot; &quot;us,&quot; &quot;our&quot;). By accessing or using our
               website, www.wafflehousesherwood.ca (&quot;the Site&quot;), you agree to be bound by these
               Terms of Service (&quot;Terms&quot;). Please read them carefully. If you do not agree to these
               Terms, you must discontinue your use of the Site.<br><br>
                <b>1. Overview</b><br>
                This Site is operated by Waffle House Bar &amp; Grill. Throughout the Site, the terms &quot;we&quot;,
&quot;us&quot; and &quot;our&quot; refer to Waffle House Bar &amp; Grill. These Terms apply to all visitors,
users, and others who access or use the Site.<br><br>
                
                <b>2.Restaurant Services</b><br>
                Our Site provides users with information regarding our restaurant, including menu
offerings, special events, hours of operation, and promotions. All information is subject
to change without notice.<br><br>
               
                <b>3. Online Reservations &amp; Ordering (Soon)</b><br>
               
                Our Site allows users to place orders, make reservations, and engage with our services
online. By placing an order or reservation, you agree to provide accurate and complete
information. We reserve the right to cancel any order or reservation if inaccurate
information is provided or if fraud is suspected.<br><br>
             
                
                
                <b> 4. Website Use &amp; Conduct</b><br>
                You agree to use the Site only for lawful purposes. You may not:<br>
                1. Use the Site to transmit any harmful or malicious content.
               Montano Plumbing and Contracting remain their property. By using these
               materials on the website, you grant us the right to display them for the duration of
               your subscription.<br>
               2. Attempt to access restricted areas of the Site without authorization.<br>
                3. Interfere with the proper working of the Site or any security measures we have
                implemented.<br><br>


                <b>5. Intellectual Property</b><br>
                All content on the Site, including text, graphics, logos, images, design, and software, is
the intellectual property of <b>Waffle House Bar &amp; Grill </b>or <b>Bespoke Web Design
Edmonton</b> (the developer). You are not allowed to use, reproduce, or distribute any
content from the Site without prior written permission from the respective owner.<br><br>
<b>Client-Provided Materials:</b><br>
Any photos, logos, or content provided by Waffle House Bar &amp; Grill for use on the Site
remain the property of the restaurant. By providing these materials, you grant us a
license to use them while the Site is active.<br>
<b>License to Use:</b><br>
As the website is designed and hosted by Bespoke Web Design Edmonton,
Wafflehouse Bar &amp; Grill is granted a license to use the Site while subscribing to the
services provided by the agency. If the subscription is terminated or canceled, access to
the Site will be revoked, and it may be deactivated.<br>
<b>Proprietary Rights:</b><br>
Bespoke Web Design Edmonton retains all rights to any custom code, design
elements, and proprietary software used to create the Site. Waffle House Bar &amp; Grill
does not own these elements but is granted usage rights while the subscription is
active.<br><br>

                <b> 6. Privacy &amp; Data Collection</b><br>
                We respect your privacy and are committed to protecting your personal information. For
more details, please refer to our   <a href="/privacy-policy" class="cs-bottom-link">Privacy Policy.</a>  By using our Site, you consent to the
collection and use of your information as outlined in our Privacy Policy.<br>
                <br>
                <b>7. Limitation of Liability</b><br>
                To the fullest extent permitted by law, <b>Waffle House Bar &amp; Grill </b>or <b>Bespoke Web Design
                    Edmonton</b> shall not be liable for any indirect, incidental, special, or
consequential damages resulting from the use of the Site or its services. Your use of the
Site is at your own risk.<br><br>
                
                <b>8. Changes to These Terms</b><br>
                
                We reserve the right to update or modify these Terms at any time without prior notice.
Any changes will be effective immediately upon posting. It is your responsibility to
review these Terms periodically for any updates.<br><br>

<b>9. Termination</b><br>
                
We may terminate or suspend access to our Site immediately, without prior notice or
liability, for any reason, including if you breach these Terms. Upon termination, your
right to use the Site will cease immediately.<br><br>
<b>10. Governing Law</b><br>
                
These Terms are governed by the laws of Alberta, Canada, without regard to its conflict
of law provisions. Any legal action or proceeding relating to your use of the Site shall be
brought exclusively in the provincial courts of Alberta.<br><br>

                <b>11. Contact Us</b> <br>
                If you have any questions or concerns about this Privacy Policy, please contact us at:<br>
                <b>Waffle House Bar &amp; Grill</b><br>
                wafflehousesherwood@gmail.com  <br>      <br>   </p>
        </div>
    </div>
</section>

    

{% endblock %}